{{#*inline "page"}}

<section id="about" class="w-100">
  <h2 class="{{h2}}">About LeviDrone</h2>
  <p class="{{large}} lh-copy">
    LeviDrone is a company that develops and mass produces professional electronics for unmanned aerial vehicles.
    The company is founded in Russia by people from the military and aerospace systems development industry.
  </p>
  <div class="flex-l flex-none mb3">
    <div class="pv0-l pv2 w-100">
      <h3 class="{{h3}} tc">Find Us on Socials</h3>
      <div class="center flex flex-row justify-center">
        <a class="button button-gray mh2 ph1 pv1" href="https://github.com/levidrone" target="_blank" rel="noopener">
          <img width="40" src="/img/github.svg" alt="GitHub" title="GitHub"/>
        </a>
        <a class="button button-gray mh2 ph1 pv1" href="https://www.instagram.com/levidrone/" target="_blank" rel="noopener">
          <img width="40" src="/img/instagram.svg" alt="Instagram" title="Instagram"/>
        </a>
        <a class="button button-gray mh2 ph1 pv1" href="https://www.youtube.com/channel/UCMTnC3k7s8s53Y2k5tvDEXw" target="_blank" rel="noopener">
          <img width="40" src="/img/youtube.svg" alt="YouTube" title="YouTube"/>
        </a>
        <a class="button button-gray mh2 ph1 pv1" href="https://t.me/levidrone" target="_blank" rel="noopener">
          <img width="40" src="/img/telegram.svg" alt="Telegram" title="Telegram"/>
        </a>
      </div>
    </div>

    <div class="mh5-l pv0-l pv2 w-100">
      <h3 class="{{h3}} tc">Write Us</h3>
      <a href="mailto:info@levidrone.com" class="button button-yellow pv3">info@levidrone.com</a>
    </div>

    <div class="pv0-l pv2 w-100">
      <h3 class="{{h3}} tc">Get Support</h3>
      <a href="mailto:support@levidrone.com" class="button button-yellow pv3">support@levidrone.com</a>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
